# 🏫 PYTHON SCHOOL QUEST: The Tech Club’s New Challenge!
## 🚀 A Fun, Beginner-Friendly Python Adventure! 🚀

## 📖 Chapter 2: The School's Tech Upgrade!
### After successfully setting up the student enrollment system, Principal Williams is impressed! 🎉 He now has another challenge for the Tech Club—help automate school activities using Python’s Operators!

**Alex, Mia, and Jake are excited! But before they start coding, Mr. Carter explains:**

**"Python has different types of operators that help us perform calculations, make comparisons, and even make decisions based on conditions!"**

**🤖 Robo-Helper 3000 beeps:**
**"Let’s see if you can beat me in solving these tasks! Beep boop! Ready? Let’s go!"**

# 💻 Python Challenges Begin! 🚀
## 📌 TASK 1: Calculate the Total Cost of School Supplies (Arithmetic Operators)
### 🔹 Scenario:
**Mia is buying 5 notebooks and 3 pens for the Tech Club. Each notebook costs $4, and each pen costs $2.**

**📝 Your Task:**

**Use multiplication to find the total cost of notebooks.**

**Use multiplication to find the total cost of pens.**

**Use addition to find the final total cost.**

**✅ Expected Output:**

##### Total cost of notebooks: $20

##### Total cost of pens: $6

##### Grand Total: $26

In [10]:
N1 = int(input("How many notebooks you need:"))
P1 = int(input("How many Pens you need:"))
TCN = (4 * N1)
TCP = (2 * P1)
print("Total cost of notebooks:","$",TCN)
print("Total cost of pen:","$",TCP)
print("Grand Total:","$",TCN+TCP,)

How many notebooks you need:5
How many Pens you need:3
Total cost of notebooks: $ 20
Total cost of pen: $ 6
Grand Total: $ 26

## 📌 TASK 2: Fix the Broken Calculator (Arithmetic Operators)
### 🔹 Scenario:
**Jake tried to write a Python program to divide numbers, but something is wrong!**

**🚨 Broken Code:**

In [13]:
#Fix the code
num1 = 10
num2 = 3
result = num1 / num2
print("The answer is: ",result)

The answer is:  3.3333333333333335

## 📌 TASK 3: The School Fundraiser (Assignment Operators)
### 🔹 Scenario:
**Greenfield High is raising money for a new Tech Lab. So far, they have raised $500.**

**📝 Your Task:**

**Add $200 to the fundraiser amount.**

**Double the total amount using an assignment operator.**

**Print the final amount.**

In [15]:
#Write the code here
G1 = int(input("Greenfield Fund raised amount:"))
A1 = int(input("How much amount you want to add to Greenfield Fund:"))
Total = G1 + A1
GT1 = Total * 2
print("The final amount:",GT1)

Greenfield Fund raised amount:500
How much amount you want to add to Greenfield Fund:200
The final amount: 1400

## 📌 TASK 4: Who Scored Higher? (Comparison Operators)
### 🔹 Scenario:
**Alex and Jake had a friendly math quiz. Alex scored 85 points, and Jake scored 92 points.**

**📝 Your Task:**

**Use comparison operators to check:**

**Who scored higher?**

**Did both get the same score?**

**Print the results.**

**✅ Expected Output:**

**Did Alex score higher? False**

**Did Jake score higher? True**

**Did they both score the same? False**

In [25]:
#Write the code here
Alex = int(input("Enter Alex Score:"))
Jake = int(input("Enter Jake Score:"))
if Alex>Jake:
  print("Did Alex score higher?:",True)
  print("Did Jake score higher?:",False)
  print("Did they both score the same?",False)
elif Alex<Jake:
  print("Did Alex score higher?:",False)
  print("Did Jake score higher?:",True)
  print("Did they both score the same?",False)

Enter Alex Score:95
Enter Jake Score:82
Did Alex score higher?: True
Did Jake score higher?: False
Did they both score the same? False

## 📌 TASK 5: Scholarship Eligibility (Comparison Operators)
### 🔹 Scenario:
**To get a school scholarship, a student must have at least 90% in their final exam.**

**📝 Your Task:**

**Ask the user to input their exam score.**

**Use a comparison operator to check if they are eligible.**

**Print an appropriate message.**

In [32]:
#Write the code here
S1 = float(input("Enter the final exam score:"))
if S1 >= 90 :
  print("Eligible for Scholarship")
else:
  print("Not Eligible for Scholarship")

Enter the final exam score:89.5
Not Eligible for Scholarship

## 📌 TASK 6: Logical Puzzle - School Entry (Logical Operators)
### 🔹 Scenario:
**To enter the Tech Lab, students must:**

**Be at least 12 years old**

**Have a Tech Club ID**

**📝 Your Task:**

**Ask the user for their age and whether they have a Tech Club ID.**

**Use logical operators (and, or, not) to check if they can enter.**

**Print an appropriate message.**

**✅ Expected Output:**

**Are you 12 years old or older? Yes**

**Do you have a Tech Club ID? Yes**

**Access Granted! Welcome to the Tech Lab!**

In [42]:
#Write the code here
N1 = int(input("Enter your Age:"))
C1 = str(input("Enter Whether you have Tech Club ID: (Yes or No)"))
if (N1>12) and (C1 == "Yes"):
  print("Are you 12 years old or older?:","Yes")
  print("Do you have a Tech Club ID?:","Yes")
  print("Access Granted! Welcome to the Tech Lab!")
else:
  print("Are you 12 years old or older?:","No")
  print("Do you have a Tech Club ID?:","No")
  print("Access Not Granted! Welcome to the Tech Lab!")

Enter your Age:13
Enter Whether you have Tech Club ID: (Yes or No)Yes
Are you 12 years old or older?: Yes
Do you have a Tech Club ID?: Yes
Access Granted! Welcome to the Tech Lab!

## 📌 TASK 7: Robo-Helper’s Challenge (Logical Operators)
### 🔹 Scenario:
**Robo-Helper 3000 is only available for Tech Club members OR students who have completed their Python tasks.**

**📝 Your Task:**

**Create two boolean variables: is_tech_club_member and completed_tasks.**

**Use a logical operator to check if Robo-Helper can assist the student.**

**Print the result.**

In [48]:
#Write the code here
N1 = str(input("Check Whether Students have completed their Python Tasks:(Yes or No)"))
C1 = str(input("Enter Whether you have Tech Club ID: (Yes or No)"))
if (N1 == "Yes") and (C1 == "Yes"):
  print("Robo Helper can assist the student")
else:
  print("Robo Helper cannot assist the student")

Check Whether Students have completed their Python Tasks:(Yes or No)no
Enter Whether you have Tech Club ID: (Yes or No)nkj
Robo Helper cannot assist the student

## 📌 TASK 8: Even or Odd? (Arithmetic + Logical Operators)
### 🔹 Scenario:
**Alex wants to create a program that checks whether a number is even or odd.**

**📝 Your Task:**

**Ask the user for a number.**
  
**Use the modulus operator (%) to check if the number is even or odd.**
    
**Print the result.**
    
**✅ Example Input & Output:**

**Enter a number: 7**

**7 is an odd number!**

In [54]:
#Write the code here
S1 = int(input("Enter the Number"))
if S1%2 == 0:
  print("The number is Even")
else:
  print("The number is Odd")

Enter the Number990
The number is Even

## 📌 TASK 9: Age Comparison Game! (Comparison + Logical Operators)
### 🔹 Scenario:
**Mia and Jake want to compare their ages and see who is older!**

**📝 Your Task:**

**Ask for Mia’s and Jake’s ages.**

**Use comparison & logical operators to print who is older, younger, or if they are the same age.**

In [56]:
#Write the code here
N1 = int(input("Mia can you enter your Age:"))
C1 = int(input("Jake can you enter your Age:"))
if (N1>C1):
  print("Miya is elder than Jake")
else:
  print("Miya is younger than Jake")

Mia can you enter your Age:65
Jake can you enter your Age:55
Miya is elder than Jake

## 📌 TASK 10: The Discount Code (Special Operators - Membership)
### 🔹 Scenario:
**The Tech Club is offering a special discount code to selected students.**

**📝 Your Task:**

**Check if the user’s name is in the discount list.**

**Use the membership operator (in) to check eligibility.**

**Print whether they get a discount.**

**✅ Example Names List:**

**discount_students = ["Alex", "Mia", "Jake"]**

In [61]:
#Write the code here
O1 = ["Murali","Raja","Praveen","Balu","Kamal"]
N1 = str(input("Enter the Name:"))
if N1 in O1:
  print("Eligible for discount")
else:
  print("Not Eligible for discount")

Enter the Name:Krishnan
Not Eligible for discount

## 📌 TASK 11: Username Check (Special Operators - Identity)
### 🔹 Scenario:
**The school’s system needs to check if two usernames are the same.**

**📝 Your Task:**

**Ask the user to enter their username twice.**

**Use the identity operator (is) to check if they match.**
    
**Print an appropriate message.**

In [65]:
# Ask the user to enter their username twice
username1 = input("Enter your username: ")
username2 = input("Re-enter your username: ")
if (username1 is username2) :
  print("name are same ")
else:
  print("name are NOT same ")

# Check if both inputs are the same using the identity operator - Write the code here

Enter your username: K
Re-enter your username: T
name are NOT same

## 📌 TASK 12: Tech Club Challenge Score (Assignment Operators)
### 🔹 Scenario:
**Each time a student completes a coding challenge, they gain 10 points.**

**📝 Your Task:**

**Start with an initial score of 50 points.**

**Use an assignment operator to add 10 points for three completed challenges.**

**Print the final score.**

In [80]:
#Write the code here
IS = 50
u1 = int(input("How many challenges are completed successfully:"))
if u1 > 3 :
  print(u1+10+IS)
else:
  print("challenges are not completed" )

How many challenges are completed successfully:4
64

## 📌 TASK 13: The Power of Exponents (Arithmetic Operators)
### 🔹 Scenario:
**Jake is curious about how exponents work in Python!**

**📝 Your Task:**

**Ask the user for a base number and an exponent.**

**Use the ** operator to calculate the power.**

**Print the result.**

**✅ Example:**

**Enter base: 2**

**Enter exponent: 3**

**2 to the power of 3 is 8**

In [77]:
u1 = int(input("Enter the base number: "))
u2 = int(input("Re-enter the exponent: "))
print(u1**u2)

Enter the base number: 3
Re-enter the exponent: 2
9

## 📌 TASK 14: Temperature Converter (Arithmetic Operators)
### 🔹 Scenario:
**Alex wants to convert Celsius to Fahrenheit using Python!**

**📝 Your Task:**

**Ask the user to enter a temperature in Celsius.**

**Use the formula:**

**Fahrenheit = (Celsius * 9/5) + 32**

In [89]:
u1 = int(input("Enter the temperature in celsius: "))
Farenheit = ((u1*(9/5))+32)
print(Farenheit)

Enter the temperature in celsius: 98
208.4

## 📌 TASK 15: Fix the Broken Logical Expression!
**👉 What will this output? Explain why!**

In [72]:
x = 5
y = 10
print(x > 3 and y < 5 or x == 5 and y > 8)

True

**👉 What will this output? Explain why!**

In [73]:
x = 5
y = 10
print((x > 3 and y < 5) or (x == 5 and y > 8))

True

**👉 What will this output? Explain why!**

In [74]:
x = 5
y = 10
print((x > 3 and y < 5) and (x == 5 and y > 8))

False

# 🎉 MISSION COMPLETE!
## Great job, Alex! You have successfully helped Greenfield High using Operators in Python! 🚀💡

**(c) Rahul Tiwari**